@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    background-color: #ffffff;
}

@keyframes rotate{
    0%{
        transform: rotate(0deg);
    }

    100%{
        transform: rotate(360deg);
    }
}

.rotate-animation{
    animation: rotate 0.5s  ease-in-out;
}